<div id="account_settings_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">Account Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container-sm">
                    <br />
                    <div class="row" style="margin: 0;">
                        <h6>More Account Features Coming Soon</h6>
                    </div>
                    <br />
                    <div class="row" style="margin: 0;">
                        <a href="{{ url_for("delete_account") }}" class="btn btn-danger" role="button" type="button" id="delete_account">Delete Account</a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Focus on input when modal opens
    document.getElementById('account_settings_modal').addEventListener('shown.bs.modal', function() {
        document.getElementById('delete_account').focus();
    });
</script>