<div id="new_project_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">New Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container-sm">
                    <form id="new_project_form" enctype="multipart/form-data" hx-post="/new_project" hx-target="#project-list" hx-swap="outerHTML">
                        <br />
                        <div class="row" style="margin: 0;">
                            <label for="project_name">Project Name</label>
                            <input class="form-control" type="text" id="project_name" name="project_name" required hx-validate="true">
                        </div>
                        <br />
                        <div class="row">
                            <label for="data_file">Import Data</label>
                            <input class="form-control" type="file" id="data_file" name="data_file" accept=".xlsx, .xls, .csv" required hx-validate="true">
                        </div>
                        <br />
                        <div class="row">
                            <div>
                                <button class="btn btn-primary" id="create_new_project" type="post" data-bs-toggle="modal" data-bs-target="#new_project_modal">Create New Project</button>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const new_project = document.getElementById("new_project")
    const create_new_project = document.getElementById("create_new_project")
    const project_name = document.getElementById("project_name")
    const data_file = document.getElementById("data_file")
    const new_project_form = document.getElementById("new_project_form")

    new_project.addEventListener('click',()=>{
        data_file.value = null;
        project_name.value = "";

        document.getElementById('data_file').addEventListener('change', function (event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, { type: 'array' });
                var sheetName = workbook.SheetNames[0];
                var worksheet = workbook.Sheets[sheetName];

                // Convert the entire range of cells to JSON format
                var excelData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

                // Determine the number of columns by finding the maximum row length
                var columnCount = Math.max(...excelData.map(row => row.length));

                // Fill any missing cells in each row
                for (var i = 0; i < excelData.length; i++) {
                    var row = excelData[i];
                    while (row.length < columnCount) {
                        row.push('');
                    }
                }

                // Load Excel data into HandsOnTable
                console.log('Data loaded from Excel:', excelData);

                // Save the file
                save_data(excelData);
            };
            reader.readAsArrayBuffer(file);
        });

        function save_data(jsonData) {
            sessionStorage.setItem("open_project", "0");

            fetch('/json/save/new_file', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'jsonData': jsonData })
            }).then(response => {
                if (response.ok) {
                    console.log('Data saved successfully');
                } else {
                    console.error('Error saving data');
                }
            }).catch(error => {
                console.error('Error saving data:', error);
            });
        }

    })
</script>