<div id="new_project_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">New Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container-sm">
                    <form id="new_project_form" enctype="multipart/form-data" hx-post="/new_project" hx-target="#project-list" hx-swap="outerHTML">
                        <br />
                        <div class="row" style="margin: 0;">
                            <label for="project_name">Project Name</label>
                            <input class="form-control" type="text" id="project_name" name="project_name" required hx-validate="true">
                        </div>
                        <br />
                        <div class="row">
                            <label for="data_file">Import Data</label>
                            <input class="form-control" type="file" id="data_file" name="data_file" accept=".xlsx, .xls, .csv" required hx-validate="true">
                        </div>
                        <br />
                        <div class="row">
                            <div>
                                <button class="btn btn-primary" id="create_new_project" type="post" data-bs-toggle="modal" data-bs-target="#new_project_modal">Create New Project</button>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
