{% include "editor/toolbars/spreadsheet_toolbar.html" %}
<br />
<div class="" style="overflow: scroll; scrollbar-width: none; width:100vw; height:86vh; margin-bottom: 10px !important;" id="hot"></div>
<br />
<br />
<script>
    document.addEventListener('DOMContentLoaded', function () {

    var container = document.getElementById('hot');
    var hot = new Handsontable(container, {
        data: {{ spreadsheet_data | safe }},
        licenseKey: 'non-commercial-and-evaluation',
        rowHeaders: true,
        colHeaders: true,
        contextMenu: true
    });

    hot.addHook('afterChange', function(changes, src) {
        if (src === 'edit') {
            saveTableData();
        }
    });
    hot.addHook('afterRedo', saveTableData);
    hot.addHook('afterUndo', saveTableData);
    hot.addHook('afterPaste', saveTableData);

    function saveTableData() {
        var jsonData = { data: hot.getData() };
        saveData(jsonData);
    }

    function saveData(jsonData) {
        const jsonString = JSON.stringify(jsonData);
        const compressedDataArray = pako.deflate(jsonString);
        const compressedData = uint8ArrayToBase64(compressedDataArray);
        fetch('/projects/{{ project_id }}/save', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ 'compressedData': compressedData })
        }).then(response => {
            if (response.ok) {
                console.log('Data saved successfully!');
            } else {
                console.error('Error saving data');
            }
        }).catch(error => {
            console.error('Error saving data:', error);
        });
    }
    function uint8ArrayToBase64(uint8Array) {
        let binary = '';
        const len = uint8Array.byteLength;
        for (let i = 0; i < len; i++) {
            binary += String.fromCharCode(uint8Array[i]);
        }
        return window.btoa(binary);
    }
});

</script>