<footer class="bg-primary text-white text-center text-lg-start fixed-bottom" style="align-items: center;">
    <div class="container">
        <div class="row text-nowrap bg-primary" style="width: 100%; ">

            <div class="col-md-1" style="margin-top: 5px; text-align: center;">
                <a class="text-white" href="{{ url_for('home') }}">Home</a>
            </div>
            <div class="col-md-2" style="margin-top: 5px; text-align: center;">
                <a class="text-white" href="{{ url_for('docs') }}">Documentation</a>
            </div>
            <div class="col-md-2" style="margin-top: 5px; text-align: center;">
                <a class="text-white" href="https://www.isu.edu/geosciences/">isu.edu/geosciences/</a>
            </div>
            <div class="col-md-2" style="margin-top: 5px; text-align: center;">
                <a class="text-white" href="https://www.eoas.ubc.ca/">eoas.ubc.ca/</a>
            </div>
            <div class="col-md-3" style="margin-top: 5px; text-align: center;">
                <p>Questions? <a style="color:white;" href="mailto:nielrya4@isu.edu">nielrya4@isu.edu</a></p>
            </div>
            <div class="col-md-2" style="margin-top: 5px; text-align: center;">
                <p>Issues? <a style="color:white;" href="https://github.com/nielrya4/dzToolBox/issues">github.com/nielrya4/dzToolBox/issues</a></p>
            </div>
        </div>
    </div>
</footer>
