<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dzToolBox</title>
    {% include "global/head.html" %}
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container-fluid flex-grow-1 d-flex flex-column justify-content-center">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
                <h1 class="display-4 mb-3">dzToolBox</h1>
                <h4 class="lead mb-5">Tools for visualization and interpretation of Detrital Zircon data</h4>
                
                <div class="row g-3 justify-content-center mb-4">
                    <div class="col-12 col-sm-6 col-md-4">
                        <a class="btn btn-primary btn-lg w-100" href="{{ url_for('login') }}">Login</a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <a class="btn btn-primary btn-lg w-100" href="{{ url_for('signup') }}">Sign Up</a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <a class="btn btn-primary btn-lg w-100" href="{{ url_for('create_guest_account') }}">Guest</a>
                    </div>
                </div>
                
                <div class="alert alert-info" role="alert">
                    <small>Note that guest accounts are deleted every midnight MST (UTC-7)</small>
                </div>
                
                <div class="mt-4">
                    <img class="img-fluid" style="max-height: 200px;" alt="Zircon" src="{{ url_for('static', filename='global/img/DZ.svg') }}">
                </div>
				<h4 class="lead mb-5">Check out the new interactive Belt Supergroup Database map <a href="/belt-db">here</a>.</h4>

            </div>
        </div>
    </div>
    {% include 'global/footer.html' %}
</body>
</html>
