<div id="import_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">Import Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <br />
                <div class="container-sm">
                    <form id="import_form" data-hx-trigger="click">
                        <div class="table_list">
                            <table>
                                <tr>
                                    <td>
                                        <label for="import_select" class="form-label">Select a file...</label>
                                        <input class="form-control" type="file" id="import_select">
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="import_send_args()">Import Data</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button data-bs-toggle="modal"
                                data-bs-target="#distro_modal"
                                name="send_it_distro"
                                id="send_it_distro"
                                style="display: none"
                                type="button"
                                data-hx-target="#outputs_container"
                                data-hx-swap="innerHTML">
                        </button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const distroSampleList = document.getElementById("distro_sample_select")
    function distro_send_args() {
        var selectedSamples = [];
        var distro_checkboxes = distroSampleList.querySelectorAll(".sample-checkbox");
        for (var i = 0; i < distro_checkboxes.length; i++) {
            if (distro_checkboxes[i].checked) {
                selectedSamples.push(distro_checkboxes[i].value);
            }
        }
        var distro_type = document.getElementById("distro_select").value;

        var distro_outputName = document.getElementById("distro_output_name").value;
        var queryString = "/projects/{{ project_id }}/outputs/new/distribution?sampleNames=" + selectedSamples.join("&sampleNames=") + "&outputType=" + distro_type;
        if (distro_outputName !== "") {
            queryString += "&outputTitle=" + distro_outputName;
        }
        document.getElementById("send_it_distro").setAttribute("data-hx-get", queryString);
        htmx.process(document.getElementById("send_it_distro"));
        document.getElementById("send_it_distro").click();
    }
</script>
