<div id="mds_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">New Multidimensional Scaling Plot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <br />
                <div class="container-sm">
                    <form id="mds_form" data-hx-trigger="click">
                        <label for="mds_output_title">Output Title</label>
                        <input type="text" id="mds_output_title" name="mds_output_title" required>
                        <br />
                        <br />
                        {{ sample_select(id="mds_sample_select", sender="mds_link", event='click', multi_select=True) }}
                        <br />
                        <div class="table_list">
                            <table>
								<tr>
                                    <td>
                                        <h6>Select Output Types:</h6>
                                        <div id="mds_outputs_select"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="mds_metric">Select a metric...</label>
                                        <select name="mds_metric" id="mds_metric">
                                            <option value="similarity">Similarity</option>
                                            <option value="likeness">Likeness</option>
                                            <option value="cross_correlation">Cross-Correlation</option>
                                            <option value="ks">KS</option>
                                            <option value="kuiper">Kuiper</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="mds_send_args()">Create mds</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button data-bs-toggle="modal"
                                data-bs-target="#mds_modal"
                                name="send_it_mds"
                                id="send_it_mds"
                                style="display: none"
                                type="button"
                                data-hx-target="#outputs_container"
                                data-hx-swap="innerHTML">
                        </button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const mdsSampleList = document.getElementById("mds_sample_select")
    function mds_send_args() {
        var selectedSamples = [];
        var mds_checkboxes = mdsSampleList.querySelectorAll(".sample-checkbox");
        for (var i = 0; i < mds_checkboxes.length; i++) {
            if (mds_checkboxes[i].checked) {
                selectedSamples.push(mds_checkboxes[i].value);
            }
        }
		const mdsOutputsSelect = Array.from(
            document.querySelectorAll(`#mds_outputs_select input[type="hidden"]`)
        ).map(input => input.value);
        var mdsMetric = document.getElementById("mds_metric").value;
        var mdsOutputTitle = document.getElementById("mds_output_title").value;
        var encodedSamples = selectedSamples.map(s => encodeURIComponent(s));
        var queryString = "/projects/{{ project_id }}/outputs/new/mds?sampleNames=" + encodedSamples.join("&sampleNames=") + "&metric=" + mdsMetric;
        queryString += "&outputTitle=" + mdsOutputTitle
		+ "&outputType=" + mdsOutputsSelect.join("&outputType=");

        document.getElementById("send_it_mds").setAttribute("data-hx-get", queryString);
        htmx.process(document.getElementById("send_it_mds"));
        document.getElementById("send_it_mds").click();
        
        // Hide the modal after submission
        var mdsModal = bootstrap.Modal.getInstance(document.getElementById('mds_modal'));
        if (mdsModal) {
            mdsModal.hide();
        }
    }
</script>
