<div id="mds_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">New Multidimensional Scaling Plot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <br />
                <div class="container-sm">
                    <form id="mds_form" data-hx-trigger="click">
                        <label for="mds_output_name">Output Title</label>
                        <input type="text" id="mds_output_name" name="mds_output_name" required>
                        <br />
                        <br />
                        {{ sample_select(id="mds_sample_select", sender="mds_link", event='click', multi_select=True) }}
                        <br />
                        <div class="table_list">
                            <table>
                                <tr>
                                    <td>
                                        <label for="mds_select">Select a metric...</label>
                                        <select name="mds_select" id="mds_select">
                                            <option value="mds_similarity">Similarity</option>
                                            <option value="mds_likeness">Likeness</option>
                                            <option value="mds_cross_correlation">Cross-Correlation</option>
                                            <option value="mds_ks">KS</option>
                                            <option value="mds_kuiper">Kuiper</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="mds_send_args()">Create mds</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button data-bs-toggle="modal"
                                data-bs-target="#mds_modal"
                                name="send_it_mds"
                                id="send_it_mds"
                                style="display: none"
                                type="button"
                                data-hx-target="#outputs_container"
                                data-hx-swap="innerHTML">
                        </button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const mdsSampleList = document.getElementById("mds_sample_select")
    function mds_send_args() {
        var selectedSamples = [];
        var mds_checkboxes = mdsSampleList.querySelectorAll(".sample-checkbox");
        for (var i = 0; i < mds_checkboxes.length; i++) {
            if (mds_checkboxes[i].checked) {
                selectedSamples.push(mds_checkboxes[i].value);
            }
        }
        var mds_type = document.getElementById("mds_select").value;
        var mds_outputName = document.getElementById("mds_output_name").value;
        var encodedSamples = selectedSamples.map(s => encodeURIComponent(s));
        var queryString = "/projects/{{ project_id }}/outputs/new/mds?sampleNames=" + encodedSamples.join("&sampleNames=") + "&outputType=" + mds_type;
        queryString += "&outputTitle=" + mds_outputName;
        document.getElementById("send_it_mds").setAttribute("data-hx-get", queryString);
        htmx.process(document.getElementById("send_it_mds"));
        document.getElementById("send_it_mds").click();
    }
</script>
