<div id="project_settings_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">Project Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <br />
                <div class="container-sm">
                    <form id="settings_form">
						<button type="button" class="collapsible active_collapsible">Age Settings</button>
						<div class="content" style="max-height: 200px;">
							<br />
							<label for="min_age">Minimum Age</label>
							<input type="number" class="form-control" id="min_age" name="min_age" value="0" required>
							<label for="max_age">Maximum Age</label>
							<input type="number" class="form-control" id="max_age" name="max_age" value="4500" required>
							<br />
						</div>
						<br />
						<button type="button" class="collapsible active_collapsible">Data Settings</button>
						<div class="content" style="max-height: 300px;">
							<br />
                        <label for="kde_bandwidth">Default KDE Bandwidth</label>
                        <input type="number" class="form-control" id="kde_bandwidth" name="kde_bandwidth" value="10" required>
                        <label for="n_trials">Default Unmixing Trials</label>
                        <input type="number" class="form-control" id="n_trials" name="n_trials" required>
                        <label for="matrix_function_type">Function To Use While Generating Matrices</label>
                        <select id="matrix_function_type" name="matrix_function_type" class="form-select" aria-label="Default select example">
                            <option value="kde">KDE (Recommended)</option>
                            <option value="pdp">PDP</option>
                        </select>
                        <br />
						</div>
						<br />
						<button type="button" class="collapsible active_collapsible">Graph Settings</button>
						<div class="content" style="max-height: 600px;">
							<br />
							<label for="stack_graphs">Stack Graph Subplots?</label>
							<select id="stack_graphs" name="stack_graphs" class="form-select" aria-label="Default select example">
								<option selected value="true">Yes</option>
								<option value="false">No</option>
							</select>
							<label for="show_legend_select">Show Graph Legend?</label>
							<select id="show_legend_select" name="show_legend_select" class="form-select" aria-label="Default select example">
								<option selected value="true">Yes</option>
								<option value="false">No</option>
							</select>
							<label for="fill_lines_select">Fill Area Underneath Lines?</label>
							<select id="fill_lines_select" name="fill_lines_select" class="form-select" aria-label="Default select example">
								<option value="true">Yes</option>
								<option selected value="false">No</option>
							</select>
							<label for="modes_labeled">Number of Modes to Label</label>
							<input type="number" class="form-control" id="modes_labeled" name="modes_labeled" value="0" required>

							<label for="graph_color_map">Graph Colormap</label>
							<select id="graph_color_map" name="graph_color_map" class="form-select" aria-label="Default select example">
								<option value="jet">Jet</option>
								<option value="plasma">Plasma</option>
								<option value="viridis">Viridis</option>
								<option value="inferno">Inferno</option>
								<option value="magma">Magma</option>
								<option value="cividis">Cividis</option>
								<option value="ocean">Ocean</option>
								<option value="terrain">Terrain</option>
								<option value="gnuplot">GNU Plot</option>
								<option value="gist_ncar">Gist NCAR</option>
								<option value="winter">Winter</option>
								<option value="cool">Cool</option>
    							<option name="custom" value="custom">Custom</option>
							</select>
							<input type="text" id="custom_colormap" name="custom_colormap" class="form-control mt-2" placeholder="Enter a valid matplotlib colormap name" style="display: none">

							<label for="graph_font">Graph Font</label>
							<select id="graph_font" name="graph_font" class="form-select" aria-label="Default select example">
								<option value="ubuntu" style="font-family: 'ubuntu', sans-serif">Ubuntu</option>
								<option value="ibm_plex_mono" style="font-family: 'ibm_plex_mono', sans-serif">IBM Plex Mono</option>
								<option value="geologica" style="font-family: 'geologica', sans-serif">Geologica</option>
								<option value="proza_libre" style="font-family: 'proza_libre', sans-serif">Proza Libre</option>
								<option value="open_sans" style="font-family: 'open_sans', sans-serif">Open Sans</option>
								<option value="public_sans" style="font-family: 'public_sans', sans-serif">Public Sans</option>
								<option value="source_sans" style="font-family: 'source_sans', sans-serif">Source Sans</option>
								<option value="halant" style="font-family: 'halant', sans-serif">Halant</option>
							</select>
							<label for="font_size">Font Size</label>
							<input type="number" class="form-control" id="font_size" name="font_size" value="12" required>
							<label for="figure_width">Figure Width</label>
							<input type="number" class="form-control" id="figure_width" name="figure_width" value="9" required>
							<label for="figure_height">Figure Height</label>
							<input type="number" class="form-control" id="figure_height" name="figure_height" value="7" required>
							<br />
						</div>
						<br />
                        <button
                                type="button"
                                class = "btn btn-primary"
                                name="update_settings"
                                id="update_settings"
                        >Update Settings</button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const update_btn = document.getElementById('update_settings')

    update_btn.addEventListener('click', function () {
        const kde_bandwidth_textbox = document.getElementById('kde_bandwidth');
        const matrix_function_type_select = document.getElementById('matrix_function_type');
        const stack_graphs_select = document.getElementById('stack_graphs');
        const n_trials_textbox = document.getElementById('n_trials');
        const graph_color_map = document.getElementById('graph_color_map')
        const font_select = document.getElementById('graph_font')
        const font_size = document.getElementById('font_size')
        const figure_width = document.getElementById('figure_width')
        const figure_height = document.getElementById('figure_height')
        const min_age = document.getElementById('min_age')
        const max_age = document.getElementById('max_age')
        const showLegendSelect = document.getElementById('show_legend_select')
		const modesLabeled = document.getElementById('modes_labeled')
		const fillLinesSelect=document.getElementById('fill_lines_select')

        // Basic validation
        if (!kde_bandwidth_textbox.value || !n_trials_textbox.value || !min_age.value || !max_age.value || !font_size.value || !figure_width.value || !figure_height.value) {
            alert('Please fill in all required fields.');
            return;
        }
		let colorMapValue = graph_color_map.value;
		if (graph_color_map.value === 'custom') {
			colorMapValue = custom_colormap.value;
		}
        // Close modal immediately after validation
        const modal = bootstrap.Modal.getInstance(document.getElementById('project_settings_modal'));
        if (modal) {
            modal.hide();
        }

        var settingsData = {
            "min_age": parseFloat(min_age.value),
            "max_age": parseFloat(max_age.value),
            "kde_bandwidth" : parseFloat(kde_bandwidth_textbox.value),
            "matrix_function_type" : matrix_function_type_select.value,
            "stack_graphs" : stack_graphs_select.value,
            "n_unmix_trials" : parseInt(n_trials_textbox.value),
            "font_size": parseFloat(font_size.value),
            "font_name": font_select.value,
            "figure_width": parseInt(figure_width.value),
            "figure_height": parseInt(figure_height.value),
            "color_map": colorMapValue,
            "show_legend": showLegendSelect.value,
			"modes_labeled": parseInt(modesLabeled.value),
			"fill": fillLinesSelect.value,
        };
        fetch('/projects/{{ project_id }}/settings', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(settingsData)
        }).then(response => {
            document.getElementById("update_settings_spinner").classList.remove("visible");
            document.getElementById("update_settings_spinner").classList.add("hidden");
            if (response.ok) {
                console.log('Settings updated successfully!');
            } else {
                console.error('Error updating settings');
            }
        }).catch(error => {
            console.error('Error updating settings', error);
        });
    });
</script>
<script>
	document.getElementById('graph_color_map').addEventListener('change', function() {
		const customInput = document.getElementById('custom_colormap');
		if (this.value === 'custom') {
			customInput.style.display = 'block';
		} else {
			customInput.style.display = 'none';
		}
	});
</script>