<div id="new_output_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">New Output</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <br />
                <div class="container-sm">
                    <form id="output_form" data-hx-trigger="click">
                        <label for="output_name">Output Title</label>
                        <input type="text" id="output_name" name="output_name" required>
                        <br />
                        <div id="sample_list" class="table_list">
                            <br />
                            <table class="table_list">
                                <tr class="table_list">
                                    <th>Sample Name:</th>
                                    <th>Active:</th>
                                </tr>
                                {% for sample in samples %}
                                    <tr class="table_list">
                                        <td><label class="form-check-label" for="{{ sample[0] }}"></label> {{ sample[0] }}</td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input class="sample-checkbox form-check-input" type="checkbox" role="switch" id="{{ sample[0] }}" name="{{ sample[0] }}" value="{{ sample[0] }}" checked>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <br />
                        <div class="table_list" id="output_type_buttons">
                            <table>
                            <tr>
                                <td>
                                    <label>Choose an Output Type...</label>
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="button" id="graphs_button" onclick="select_graph()">Graph</button>
                                    <button class="btn btn-primary" type="button" id="matrices_button" onclick="select_matrix()">Matrix</button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="table_list" id="graphs">
                            <table>
                                <tr>
                                    <td>
                                        <label for="graph_select">Select a Graph...</label>
                                        <select name="graph_select" id="graph_select">
                                            <option value="kde_graph">KDE</option>
                                            <option value="pdp_graph">PDP</option>
                                            <option value="cdf_graph">CDF</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="send_args()">Create Graph</button>
                                        <button class="btn btn-secondary" type="button" onclick="back()">Back</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table_list" id="matrices">
                            <table>
                                <tr>
                                    <td>
                                        <label for="matrix_select">Select a Matrix...</label>
                                        <select name="matrix_select" id="matrix_select">
                                            <option value="similarity_matrix">Similarity</option>
                                            <option value="likeness_matrix">Likeness</option>
                                            <option value="ks_matrix">KS</option>
                                            <option value="kuiper_matrix">Kuiper</option>
                                            <option value="r2_matrix">R^2</option>
                                            <option value="dis_similarity_matrix">Dissimilarity</option>
                                            <option value="dis_likeness_matrix">Dislikeness</option>
                                            <option value="dis_ks_matrix">Dis-KS</option>
                                            <option value="dis_kuiper_matrix">Dis-Kuiper</option>
                                            <option value="dis_r2_matrix">Dis-R2</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="send_args()">Create Matrix</button>
                                        <button class="btn btn-secondary" type="button" onclick="back()">Back</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button data-bs-toggle="modal" data-bs-target="#new_output_modal" name="send_it" id="send_it" style="display: none" type="button" data-hx-target="#outputs_container" data-hx-swap="innerHTML"></button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const sampleList = document.getElementById("sample_list")
    const checkboxes = sampleList.querySelectorAll(".sample-checkbox");
    for (const checkbox of checkboxes) {
        checkbox.addEventListener("click", function() {
            // Checkbox state is already updated by user interaction
            // No further action needed here
            console.log("clicked");
        });
    }

    function select_graph() {
        document.getElementById("graphs").style.display = "flex";
        document.getElementById("matrices").style.display = "none";
    }

    function select_matrix() {
        document.getElementById("matrices").style.display = "flex";
        document.getElementById("graphs").style.display = "none";
    }

    function back() {
        output_type_buttons.style.display = "flex";
        matrices.style.display = "none";
        graphs.style.display = "none";
    }

function send_args() {
    var selectedSamples = [];
    var checkboxes = sampleList.getElementsByClassName("sample-checkbox");
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
            selectedSamples.push(checkboxes[i].value);
        }
    }
    var outputType;
    if (document.getElementById("graphs").style.display === "flex") {
        outputType = document.getElementById("graph_select").value;
    } else if (document.getElementById("matrices").style.display === "flex") {
        outputType = document.getElementById("matrix_select").value;
    }
    var outputName = document.getElementById("output_name").value;
    var queryString = "/new_output?samples=" + selectedSamples.join("&samples=") + "&output_type=" + outputType;
    if (outputName !== "") {
        queryString += "&output_name=" + outputName;
    }
    // Set the argument string as a parameter to the hx-params attribute
    document.getElementById("send_it").setAttribute("data-hx-get", queryString);
    htmx.process(document.getElementById("send_it"));
    document.getElementById("send_it").click();
}


</script>

<script>
    const new_output = document.getElementById("new_output")
    const matrices = document.getElementById("matrices")
    const graphs = document.getElementById("graphs")
    const output_type_buttons = document.getElementById("output_type_buttons")

    new_output.addEventListener('click',()=> {
        matrices.style.display = "none";
        graphs.style.display = "none";
        output_type_buttons.style.display="flex";
    });
    function select_graph()
    {
        output_type_buttons.style.display = "none";
        graphs.style.display = "flex";
    }

    function select_matrix()
    {
        output_type_buttons.style.display = "none";
        matrices.style.display = "flex";
    }

</script>