<div id="unmix_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">Top-Down Mixture Model</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <br />
                <div class="container-sm">
                    <form id="unmix_form" data-hx-trigger="click">
                        <label for="unmix_output_title">Output Title</label>
                        <input type="text" id="unmix_output_title" name="unmix_output_title" required>
                        <br />
                        <br />
                        {{ sample_select(id="unmix_sample_select", sender="unmix_link", event='click', multi_select=True) }}
                        <br />
                        <div class="table_list">
                            <table>
                                <tr>
                                    <td>
                                        <h6>Select Output Types:</h6>
                                        <div id="unmix_outputs_select"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="unmix_metric">Select a metric...</label>
                                        <select name="unmix_metric" id="unmix_metric">
                                            <option value="cross_correlation">Cross Correlation of KDEs</option>
                                            <option value="ks">KS Test of CDFs</option>
                                            <option value="kuiper">Kuiper Test of CDFs</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="unmix_send_args()">Create model</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button data-bs-toggle="modal"
                                data-bs-target="#unmix_modal"
                                name="send_it_unmix"
                                id="send_it_unmix"
                                style="display: none"
                                type="button"
                                data-hx-target="#outputs_container"
                                data-hx-swap="innerHTML">
                        </button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const unmixSampleList = document.getElementById("unmix_sample_select")
    function unmix_send_args() {
        var selectedSamples = [];
        var unmixCheckboxes = unmixSampleList.querySelectorAll(".sample-checkbox");
        for (var i = 0; i < unmixCheckboxes.length; i++) {
            if (unmixCheckboxes[i].checked) {
                selectedSamples.push(unmixCheckboxes[i].value);
            }
        }
		const unmixMetric = document.getElementById("unmix_metric").value;
		const unmixOutputTitle = document.getElementById("unmix_output_title").value;
		const unmixOutputsSelect = Array.from(
            document.querySelectorAll(`#unmix_outputs_select input[type="hidden"]`)
        ).map(input => input.value);
        var encodedSamples = selectedSamples.map(s => encodeURIComponent(s));
        var queryString = "/projects/{{ project_id }}/outputs/new/unmix?sampleNames="
            + encodedSamples.join("&sampleNames=")
            + "&metric=" + unmixMetric
            + "&outputType=" + unmixOutputsSelect.join("&outputType=");

        if (unmixOutputTitle !== "") {
            queryString += "&outputTitle=" + unmixOutputTitle;
        }
		document.getElementById("send_it_unmix").setAttribute("data-hx-get", queryString);
        htmx.process(document.getElementById("send_it_unmix"));
        document.getElementById("send_it_unmix").click();
        
        // Hide the modal after submission
        var unmixModal = bootstrap.Modal.getInstance(document.getElementById('unmix_modal'));
        if (unmixModal) {
            unmixModal.hide();
        }
    }
</script>
