<div id="unmix_modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="frame" id="content">
                <div class="modal-header">
                    <h5 class="modal-title">Top-Down Mixture Model</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <br />
                <div class="container-sm">
                    <form id="unmix_form" data-hx-trigger="click">
                        <label for="unmix_output_name">Output Title</label>
                        <input type="text" id="unmix_output_name" name="unmix_output_name" required>
                        <br />
                        <br />
                        {{ sample_select(id="unmix_sample_select", sender="unmix_link", event='click', multi_select=True) }}
                        <br />
                        <div class="table_list">
                            <table>
                                <tr>
                                    <td>
                                        <h6>Select Output Types:</h6>
                                        <div id="unmix_outputs_select"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="unmix_select">Select a metric...</label>
                                        <select name="unmix_select" id="unmix_select">
                                            <option value="cross_correlation">Cross Correlation of KDEs</option>
                                            <option value="ks">KS Test of CDFs</option>
                                            <option value="kuiper">Kuiper Test of CDFs</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="unmix_send_args()">Create model</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button data-bs-toggle="modal"
                                data-bs-target="#unmix_modal"
                                name="send_it_unmix"
                                id="send_it_unmix"
                                style="display: none"
                                type="button"
                                data-hx-target="#outputs_container"
                                data-hx-swap="innerHTML">
                        </button>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const unmixSampleList = document.getElementById("unmix_sample_select")
    function unmix_send_args() {
        // Get the selected samples (checkboxes)
        var selectedSamples = [];
        var unmix_checkboxes = unmixSampleList.querySelectorAll(".sample-checkbox");
        for (var i = 0; i < unmix_checkboxes.length; i++) {
            if (unmix_checkboxes[i].checked) {
                selectedSamples.push(unmix_checkboxes[i].value);
            }
        }

        // Get the selected unmix type (dropdown)
        const unmix_type = document.getElementById("unmix_select").value;

        // Get the output title
        const unmix_outputName = document.getElementById("unmix_output_name").value;

        // Capture selected values from the MultiSelect dropdown
        const unmix_outputs_select = Array.from(
            document.querySelectorAll(`#unmix_outputs_select input[type="hidden"]`)
        ).map(input => input.value);

        // Build query string
        var queryString = "/projects/{{ project_id }}/outputs/new/unmix?sampleNames="
            + selectedSamples.join("&sampleNames=")
            + "&unmixMetric=" + unmix_type
            + "&outputType=" + unmix_outputs_select.join("&outputType=");  // Send the selected output types

        if (unmix_outputName !== "") {
            queryString += "&outputTitle=" + unmix_outputName;
        }

        // Set the hx-get attribute for HTMX and trigger the request
        document.getElementById("send_it_unmix").setAttribute("data-hx-get", queryString);
        htmx.process(document.getElementById("send_it_unmix"));
        document.getElementById("send_it_unmix").click();
    }

</script>
