{% from "global/spinner.html" import spinner with context %}

{{ spinner(id="login_spinner", message="Logging You In...") }}


<script>
    document.getElementById("login_btn").addEventListener("click", function (){
        show_login_spinner();
    });

    function show_login_spinner() {
        document.getElementById("login_spinner").classList.remove("hidden");
        document.getElementById("login_spinner").classList.add("visible");
    }

    document.addEventListener("htmx:afterRequest", function() {
        document.getElementById("login_spinner").classList.remove("visible");
        document.getElementById("login_spinner").classList.add("hidden");
    });
</script>
