[Unit]
Description=Check for updates on GitHub and run build script
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/dztoolbox/dztoolbox/check_updates.sh
WorkingDirectory=DZTOOLBOX_PATH
User=DZTOOLBOX_USER
Group=DZTOOLBOX_GROUP
EnvironmentFile=/home/dztoolbox/dztoolbox/.env.dztoolbox

[Install]
WantedBy=multi-user.target