[Unit]
Description=Check for updates on GitHub and run build script
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/dztoolbox/dztoolbox/check_updates.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target