<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global/styles/table_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global/styles/toolbars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='editor/styles/frame.css') }}">
    {% include "global/head.html" %}

</head>
<body>
    {% include "project_browser/toolbars/project_list_toolbar.html" %}

    {% block project_list %}
        <table class="table_list" id="project-list">
            {% for project in user_projects %}
                <tr class="table_list">
                    <td>
                        {{ project.title }}
                    </td>
                    <td>
                        <form method="POST" action="/projects/{{ project.id }}">
                            <button class="btn btn-primary" type="submit">Open</button>
                            <button class="btn btn-primary" hx-post="/delete_project/{{ project.id }}" type="button" hx-confirm="Are you sure you want to delete this project?" hx-target="#project-list" hx-swap="outerHTML">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
    <div id="project-content">

    </div>


    {% include "project_browser/modals/new_project_dialog.html" %}
    {% include "project_browser/modals/account_settings_dialog.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
</body>
</html>