<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global/styles/table_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global/styles/toolbars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='editor/styles/frame.css') }}">
    {% include "global/head.html" %}
</head>
<body>
    {% include "project_browser/toolbars/project_list_toolbar.html" %}
    {% block project_list %}
        <table class="table_list" id="project-list">
            <h1 id="no_projects" style="display: none;">No projects yet? Click above to start a project!</h1>
            {% if user_projects == [] %}
                <script>document.getElementById("no_projects").style.display = "flex";</script>
            {% else %}
                <script>document.getElementById("no_projects").style.display = "none";</script>
            {% endif %}

            {% for project in user_projects %}
                <tr class="table_list">
                    <td>{{ project.title }}</td>
                    <td>
                        <form method="GET" action="/projects/{{ project.id }}">
                            <button class="btn btn-primary" type="submit" onclick="show_open_spinner()">Open</button>
                            <button class="btn btn-primary delete-project-btn" hx-post="/delete_project/{{ project.id }}" type="button" hx-target="#project-list" hx-swap="outerHTML" onclick="show_del_spinner()">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
    <br />
    <br />
    <h3 style="color:red;">Notice:</h3>
    <p>
        If you have projects created before 1 Dec 2024, please <a href="/update-projects" onclick="show_update_spinner()">convert them to the new format.</a>
        If you do not convert them, they will be unreadable to the new version of dzToolBox, and
        they will raise an internal server error when you try to open them.
    </p>

    {% from "global/spinner.html" import spinner with context %}
    {% include "project_browser/modals/new_project_dialog.html" %}
    {% include "project_browser/modals/account_settings_dialog.html" %}
    {% include 'global/footer.html' %}

    <!-- Spinners -->
    {{ spinner(id="new_proj_spinner", message="Creating New Project...") }}
    {{ spinner(id="del_proj_spinner", message="Deleting Project...") }}
    {{ spinner(id="open_proj_spinner", message="Loading Project...") }}
    {{ spinner(id="updating_proj_spinner", message="Updating Projects...") }}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

    <script>
        document.getElementById("new_project_form").addEventListener("submit", function() {
            document.getElementById("new_proj_spinner").classList.remove("hidden");
            document.getElementById("new_proj_spinner").classList.add("visible");
        });

        function show_del_spinner() {
            document.getElementById("del_proj_spinner").classList.remove("hidden");
            document.getElementById("del_proj_spinner").classList.add("visible");
        }
        function show_update_spinner() {
            document.getElementById("updating_proj_spinner").classList.remove("hidden");
            document.getElementById("updating_proj_spinner").classList.add("visible");
        }

        function show_open_spinner() {
            document.getElementById("open_proj_spinner").classList.remove("hidden");
            document.getElementById("open_proj_spinner").classList.add("visible");
        }

        document.addEventListener("htmx:afterRequest", function() {
            console.log("hiding spinner");
            document.getElementById("del_proj_spinner").classList.remove("visible");
            document.getElementById("del_proj_spinner").classList.add("hidden");

            document.getElementById("new_proj_spinner").classList.remove("visible");
            document.getElementById("new_proj_spinner").classList.add("hidden");
        });
    </script>
</body>
</html>
