{% from "global/spinner.html" import spinner with context %}

{{ spinner(id="new_output_spinner", message="Generating Output...") }}


<script>
    function show_output_spinner() {
        document.getElementById("new_output_spinner").classList.remove("hidden");
        document.getElementById("new_output_spinner").classList.add("visible");
    }

    function hide_output_spinner() {
        document.getElementById("new_output_spinner").classList.remove("visible");
        document.getElementById("new_output_spinner").classList.add("hidden");
    }
</script>

