<!DOCTYPE html>
<html lang="en">
<head>
    <title>DZ Grainalyzer Has Moved</title>
    {% include 'global/head.html' %}
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-left mb-4">DZ Grainalyzer Has Moved</h1>
        <p>
			The functionality of DZ Grainalyzer has been woven into the dzToolBox environment.
			<a href="/login">Log in</a>, <a href="/signup">sign up</a>, or <a href="/create_guest_account">continue as a
			guest</a>, make or open a project, and navigate to the multivariate section to visualize and interpret your
			multivariate samples. For more information, see the <a href="/docs#multivariate">section in the
			documentation</a> about visualizing and interpreting multivariate data.
		</p>
    </div>
    {% include 'global/footer.html' %}
</body>
</html>