table.table_list {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    color: black;
}

td.table_list, th.table_list {
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 10px
}

tr.table_list:nth-child(even) {
    background-color: #d6d6d6;
}
tr.table_list:nth-child(odd) {
    background-color: white;
}
