<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#outputs_nav" aria-controls="outputs_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="outputs_nav">
            <div class="navbar-nav me-auto">
                <a class="nav-link toolbar-btn" id="mda_link" data-bs-toggle="modal" href="#mda_modal">
                    <i class="fa fa-diamond"></i> MDA
                </a>
                <a class="nav-link toolbar-btn" id="distro_link" data-bs-toggle="modal" href="#distro_modal">
                    <i class="fa fa-bar-chart"></i> Distributions
                </a>
                <a class="nav-link toolbar-btn" id="matrix_link" data-bs-toggle="modal" href="#matrix_modal">
                    <i class="fa fa-table"></i> Matrices
                </a>
                <a class="nav-link toolbar-btn" id="mds_link" data-bs-toggle="modal" href="#mds_modal">
                    <i class="fa fa-dot-circle-o"></i> MDS
                </a>
                <a class="nav-link toolbar-btn" id="unmix_link" data-bs-toggle="modal" href="#unmix_modal">
                    <i class="fa fa-pie-chart"></i> Unmix
                </a>
                <a class="nav-link toolbar-btn" id="hafnium_link" data-bs-toggle="modal" href="#hafnium_modal">
                    <i class="fa fa-cube"></i> Hafnium
                </a>
				<!--<a class="nav-link toolbar-btn" id="tensor_link" data-bs-toggle="modal" href="#tensor_modal">
                    <i class="fa fa-book"></i> Tensor Factorization
                </a>-->
            </div>
            <div class="navbar-nav">
                <a class="nav-link toolbar-btn-secondary" id="project_settings" data-bs-toggle="modal" href="#project_settings_modal">
                    <i class="fa fa-cog"></i> Settings
                </a>
                <a class="nav-link toolbar-btn-danger" id="clear_outputs" data-hx-post="/projects/{{ project_id }}/outputs/clear" data-hx-target="#outputs_container" data-hx-swap="innerHTML" style="cursor: pointer;">
                    <i class="fa fa-trash"></i> Clear
                </a>
            </div>
        </div>
    </div>
</nav>
<script>
    function setupSettingsHandler() {
        const kde_bandwidth_textbox = document.getElementById('kde_bandwidth');
        const matrix_function_type_select = document.getElementById('matrix_function_type');
        const stack_graphs_select = document.getElementById('stack_graphs');
        const n_trials_textbox = document.getElementById('n_trials');
        const graph_color_map_select = document.getElementById('graph_color_map')
		const custom_colormap = document.getElementById('custom_colormap');
        const font_select = document.getElementById('graph_font')
        const font_size = document.getElementById('font_size')
        const figure_width = document.getElementById('figure_width')
        const figure_height = document.getElementById('figure_height')
        const min_age = document.getElementById('min_age')
        const max_age = document.getElementById('max_age')
        const showLegendSelect = document.getElementById('show_legend_select')
        const fillLinesSelect = document.getElementById('fill_lines_select')
        const modesLabeled = document.getElementById('modes_labeled')
		const renderSelect = document.getElementById('render_select')
        fetch('/projects/{{ project_id }}/settings', {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Parse the response body as JSON
            } else {
                throw new Error('Error fetching settings');
            }
        })
        .then(data => {
            document.getElementById("get_settings_spinner").classList.remove("visible");
            document.getElementById("get_settings_spinner").classList.add("hidden");
            var project_settings = data.settings;

            kde_bandwidth_textbox.value = project_settings["kde_bandwidth"];
            n_trials_textbox.value = project_settings["n_unmix_trials"];
            font_size.value = project_settings["font_size"]
            figure_width.value = project_settings["figure_width"]
            figure_height.value = project_settings["figure_height"]
            min_age.value = project_settings["min_age"]
            max_age.value = project_settings["max_age"]
            modesLabeled.value = project_settings["modes_labeled"] || 0

            if (project_settings["show_legend"] === "true") {
                showLegendSelect.selectedIndex = 0;
            }
            else if (project_settings["show_legend"] === "false") {
                showLegendSelect.selectedIndex = 1;
            }
            if (project_settings["matrix_function_type"] === "kde") {
                matrix_function_type_select.selectedIndex = 0;
            }
            else if (project_settings["matrix_function_type"] === "pdp") {
                matrix_function_type_select.selectedIndex = 1;
            }
            if (project_settings["color_map"] === "jet") {
                graph_color_map_select.selectedIndex = 0;
            }
            else if (project_settings["color_map"] === "plasma") {
                graph_color_map_select.selectedIndex = 1;
            }
            else if (project_settings["color_map"] === "viridis") {
                graph_color_map_select.selectedIndex = 2;
            }
            else if (project_settings["color_map"] === "inferno") {
                graph_color_map_select.selectedIndex = 3;
            }
            else if (project_settings["color_map"] === "magma") {
                graph_color_map_select.selectedIndex = 4;
            }
            else if (project_settings["color_map"] === "cividis") {
                graph_color_map_select.selectedIndex = 5;
            }
            else if (project_settings["color_map"] === "ocean") {
                graph_color_map_select.selectedIndex = 6;
            }
            else if (project_settings["color_map"] === "terrain") {
                graph_color_map_select.selectedIndex = 7;
            }
            else if (project_settings["color_map"] === "gnuplot") {
                graph_color_map_select.selectedIndex = 8;
            }
            else if (project_settings["color_map"] === "gist_ncar") {
                graph_color_map_select.selectedIndex = 9;
            }
            else if (project_settings["color_map"] === "winter") {
                graph_color_map_select.selectedIndex = 10;
            }
            else if (project_settings["color_map"] === "cool") {
                graph_color_map_select.selectedIndex = 11;
            }
            else {
                graph_color_map_select.selectedIndex = 12;
                custom_colormap.value = project_settings["color_map"]
				custom_colormap.style.display = 'block';
            }

            if (project_settings["font_name"] === "ubuntu") {
                font_select.selectedIndex = 0;
            }
            else if (project_settings["font_name"] === "ibm_plex_mono") {
                font_select.selectedIndex = 1;
            }
            else if (project_settings["font_name"] === "geologica") {
                font_select.selectedIndex = 2;
            }
            else if (project_settings["font_name"] === "proza_libre") {
                font_select.selectedIndex = 3;
            }
            else if (project_settings["font_name"] === "open_sans") {
                font_select.selectedIndex = 4;
            }
            else if (project_settings["font_name"] === "public_sans") {
                font_select.selectedIndex = 5;
            }
            else if (project_settings["font_name"] === "source_sans") {
                font_select.selectedIndex = 6;
            }
            else if (project_settings["font_name"] === "halant") {
                font_select.selectedIndex = 7;
            }

            if (project_settings["stack_graphs"] === "true") {
                stack_graphs_select.selectedIndex = 0;
            }
            else if (project_settings["stack_graphs"] === "false") {
                stack_graphs_select.selectedIndex = 1;
            }

            if (project_settings["fill"] === "true") {
                fillLinesSelect.selectedIndex = 0;
            }
            else if (project_settings["fill"] === "false") {
                fillLinesSelect.selectedIndex = 1;
            }

            if (project_settings["render"] === "raster") {
                renderSelect.selectedIndex = 0;
			}
            else if (project_settings["render"] === "vector") {
                renderSelect.selectedIndex = 1;
			}
        })
        .catch(error => {
            console.error('Error fetching settings:', error);
        });
    }

    // Attach event listener to settings button
    const settings_btn = document.getElementById("project_settings");
    
    if (settings_btn) {
        settings_btn.addEventListener('click', setupSettingsHandler);
    }
</script>