<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#spreadsheetNav" aria-controls="spreadsheetNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="spreadsheetNav">
            <div class="navbar-nav">
                <a class="nav-link toolbar-btn" id="import_link" data-bs-toggle="modal" href="#import_modal">
                    <i class="fa fa-upload"></i> Import Data
                </a>
                <a class="nav-link toolbar-btn" id="export_link" data-bs-toggle="modal" href="#export_modal">
                    <i class="fa fa-download"></i> Export Spreadsheet
                </a>
                <a class="nav-link toolbar-btn" id="databases_link" data-bs-toggle="modal" href="#databases_modal">
                    <i class="fa fa-database"></i> Databases
                </a>
            </div>
        </div>
    </div>
</nav>
